*{
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
  box-sizing: border-box;
}

h1{
  color: #6a0074;
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold{
  font-weight: bold;
  color: rgb(54, 54, 54);
}